Interpolation
<!-- <br>
{{2*9+4}}
<br>
{{name}}
<br>
{{"Welcome to " +name}}
<br>
{{name.length}}
<br>
{{name.toUpperCase()}}
<br>
{{printMSG()}} -->

<!-- {{a=4+6}} -->

<!-- {{url}} -->
<!-- 
Property binding
<input type="text"  [id]="inputId"/> -->

<!-- <h3 [class]="textColor">my class</h3> -->
<!-- <h3 [class.text-danger]="hasErr">ITI</h3> -->
<!-- <h3 [ngClass]="messageClasses">ITI</h3> -->

<h3 style="color:red;">Welcome to ITI</h3>

<h3 [style.color]="hasErr? 'red' :'green' ">Welcome to ITI</h3>

<h3 [ngStyle]="messageStyles">Welcome again</h3>



