<p>pipes works!</p>

<!-- {{MSG}}
<br>
{{MSG |lowercase }}
<br>
{{MSG |uppercase}}
<br>
{{MSG |titlecase}}
<br>
{{MSG |slice:4}}
<br>
{{MSG |slice:3:5}} -->

<!-- Number pipes
------------
<br>
{{2.789 | number : '1.2-3'}}
<br>
{{2.789 |number :'3.4-5'}} 
<br>
{{2.789| number :'3.1-2'}}  
<br>

{{0.25 |currency}}
<br>
{{0.25 |percent}} -->
<!-- 
{{currentDate}}
<br>
{{currentDate |date :'short'}}
<br>
{{currentDate |date :'shortDate'}}
<br>
{{currentDate |date :'shortTime'}}
<br>
{{currentDate |date :'medium'}}
<br>
{{currentDate |date :'mediumDate'}}
<br>
{{currentDate |date :'mediumTime'}} -->

{{10 |square}}
