<!-- <app-header></app-header>


<h1 id="firstElement">Welcome 9 month group 1</h1>

<app-main-content></app-main-content> -->
<!-- <router-outlet></router-outlet> -->


<!-- <app-footer></app-footer> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- <div class="app-data-binding"></div>
<div app-data-binding></div> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-parent></app-parent> -->
<!-- <app-emp-details></app-emp-details>
<app-emp-list></app-emp-list> -->

<!-- <nav>
    <a routerLink="/Departments">Departments</a>
    <a routerLink="/Employees">Employees</a>
</nav>

<router-outlet></router-outlet>  -->

<!-- <app-tdf></app-tdf> -->
<app-register></app-register>

